<!DOCTYPE html>
<html>
<head>
    <title>Echo</title>
    <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../templates/static/style.css">
</head>
<body>
    <h1>Echooooo</h1>
    
    <!-- Botão para atualizar a lista de registros -->
    <button hx-get="/echo" hx-swap="outerHTML">Nada</button>
    
    <!-- Lista de registros -->
    <ul id="echooooooo">
        {% for nome in nome %}
            <li>{{ nome }}</li>
        {% endfor %}
    </ul>
</body>
</html>
